<?xml version="1.0" encoding="UTF-8"?><testng-results failed="0" passed="0" skipped="1" total="1">
<suite duration-ms="2596" name="cucumber.runtime.formatter.TestNGFormatter">
<test duration-ms="2596" name="cucumber.runtime.formatter.TestNGFormatter">
<class name="Checkout items in the basket">
<test-method duration-ms="2596" finished-at="2021-01-25T10:41:45Z" name="Check item total cost and tax" started-at="2021-01-25T10:41:43Z" status="SKIP"/>
</class>
</test>
</suite>
</testng-results>
